@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply text-white;
  background-color: rgb(15, 23, 42);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.progress[value]::-webkit-progress-bar {
  @apply bg-slate-600/70;
}

.progress[value]::-webkit-progress-value {
  transition: width 500ms ease;
}

input[type='checkbox'] {
  visibility: hidden;
}

/* custom checkbox from https://www.geeksforgeeks.org/how-to-style-a-checkbox-using-css/ */
.checkbox_container {
  display: block;
  position: relative;
  cursor: pointer;
}

.checkbox_container input:checked ~ .custom_checkbox {
  @apply bg-sky-500;
}

.custom_checkbox {
  @apply rounded-sm;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: hsl(217, 33%, 25%);
}

.custom_checkbox:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox_container input:checked ~ .custom_checkbox:after {
  display: block;
}

.checkbox_container .custom_checkbox:after {
  left: 8px;
  bottom: 5px;
  width: 8px;
  height: 14px;
  border: solid white;
  border-width: 0 4px 4px 0;
  border-radius: 1px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
